body { padding-top: 70px; padding-left: 5%; padding-right: 5%;}

.thumbnails{
	/*opacity: 0;*/
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
}

.thumbnails img{
	width: 100%;

}

.thumbnails:hover { 
    /*background-color: yellow;*/
}