body{
	padding-top: 50px;
	width: 100%;
	height: 100%;
}



.navbar-default {
    border-color: #e7e7e7;
}



/*#### Project List ##############*/

.thumbnails, .fade_elem{
	/*opacity: 0;*/
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
}

.thumbnails img{
	width: 100%;

}

.thumbnails:hover { 
    /*background-color: yellow;*/
}

.header_cls{
	position: relative;
	background: rgba(0,0,0,1);
}

.project_header {
	display: inline-block;
    text-align: left;
    padding: 2vw 2vw 2vw 6vw;
    margin: 0;
    width: 100;
    color: white;
}

h3.project_view_headers {
	margin-top: 5px;
	margin-bottom: 20px;
}



/*#### Project View ##############*/


.addon_wrapper{
	width: 90vw;
	margin: 5%;
}

.project_header{
	text-align: center;
	/*height: 100vh;*/
}

.header_box{
	
}

#project_view{ 
	width: 100%;
	padding-left: 5%; 
	padding-right: 5%;
	margin: 20px 0;
	height: 100%;
}


.code_set{
	max-height: 50vh;
	white-space: nowrap;
	margin: 1% 3%!important;
}