db.sqlite3
devtye/settings.py
media/*
devtye/media/*
devtye/media/uploaded_files/project_thumbnail/*
devtye/media/uploaded_files/project_header/*
devtye/media/uploaded_files/project_addon/*
.DS_Store
*/.DS_Store