{% load staticfiles %}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Project Overhead</title>
		<meta="description" content="">
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}"></link>
		<link rel="stylesheet" href="{% static 'css/prism.css' %}"></link>
		<link rel="stylesheet" href="{% static 'css/main.css' %}"></link>
	<head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container-fluid">
		  	<a class="navbar-brand" href="{% url 'index' %}">DevTye</a>
    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      			<ul class="nav navbar-nav">
		  			<li><a href="{% url 'index' %}">Projects</a></li>
		  			<li><a href="{% url 'index' %}">About Me</a></li>
		  			<li><a href="{% url 'resume_view' %}">Resume</a></li>
		  		<ul>
		  </div>
		</nav>

		{% block content %}
		{% endblock content %}
		<script src="{% static 'js/main.js' %}"></script>
	</body>
</html>
