{% extends "base.html" %}

{% block content%}
<h2>Projects done so far</h2>
<div id="columns">
 {% for  project in projects %} 
   <div class="col-sm-6 col-md-4">
	    <div class="thumbnails" onload="myFunction()" >
	      {% if project.tumbnail != none or empty %}
	      	<img src = "{{ MEDIA_URL }}{{ project.tumbnail }}"/>
	      {% endif %}
	      <div class="caption">
	        <a href="{% url 'project_detail'  project.id %}">
	        	<h3>{{ project.title|capfirst }}</h3>
	        </a>
	        <!-- <p>{{ project.discription }}</p> -->
	      </div>
	    </div>
	</div>
  {% endfor %}
</div>
{% endblock%}