{% extends "base.html" %}

{% block content%}
	<h2>Projects done so far</h2>
<!-- <div class="row"> -->
 {% for  project in projects %}
  <div class="col-sm-6 col-md-4">
  	
	    <div class="thumbnail">
	      <img src = "{{ MEDIA_URL }}{{ project.header }}"/>
	      <div class="caption">
	        <a href="{% url 'project_detail'  project.id %}">
	        	<h3>{{ project.title|capfirst }}</h3>
	        </a>
	        <p>{{ project.discription }}</p>
	      </div>
	    </div>
	</a>
  </div>
  {% endfor %}
<!-- </div> -->


{% endblock%}